.fab{
    border-radius: 4px !important;
    background-color: white !important;
    color: black !important;
    text-transform: none !important;
    font-size: 14px !important;
    padding: 20px !important;
    font-weight: 600 !important;
    margin-top: 2px !important;
}