.fab{
    border-radius: 4px !important;
    background-color: white !important;
    color: black !important;
    text-transform: none !important;
    font-size: 16px !important;
    padding: 20px !important;
}